:root{
    --base-color: 110, 45%
}

html,
body{
    margin:0;
    padding:0;
}

.wrapper {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

header{
    padding:1rem;
    background-color: hsl(var(--base-color), 20%);
}

h1{
    text-align: center;
    color:white
}

aside{
    margin-top: 1rem;
}

nav{

}

ul{
    display:flex;
    margin:0;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items:end;
}

li{
    position:relative;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
    margin-right: 0.75rem;
    list-style: none;
    border-radius: 4px;
    max-height: 32px;
    
    box-shadow: 0px 1px 2px 1px grey  ;

    bottom:0px;
    color: hsl(var(--base-color), 35%);
    background-color: white;
    transition: bottom 300ms,
    color 300ms,
    background-color 300ms;
}

li:hover{
    bottom:5px;
    color: white;
    background-color: hsl(var(--base-color), 45%);
    transition: bottom 450ms,
    color 450ms,
    background-color 400ms;
}

section{
    max-width: 85vw;
    align-self: center;
    background-color: white;
    transition:background-color 400ms;
}


h2,
h2 ~ p{
    position:relative;
    padding-left:0rem;
    transition: padding-left 600ms, color 450ms;
}

h2{
    color: hsl(var(--base-color), 40%);
    
}

h2 ~ p{
    color:black;
    max-width: auto;
}

section:hover{
    background-color: hsl(var(--base-color), 30%);
    transition:background-color 600ms;
}

section:hover h2,
section:hover p{
    color: white;
    padding-left:1rem;
    transition: color 450ms, padding-left 600ms;
}



footer {
    margin-top:auto;
    text-align:center;
    width: 100%;

    border-top: solid;
    border-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

